.registerForm {
  @include size(calc(100% - 10em), null);

  .form {
    align-items: flex-start;

    .formField {
      text-align: left;

      label {
        font-size: 1.3em;
      }

      input {
        height: 1.5em;
        font-family: $font-family-text;
        font-size: 2em;
        outline: none;
        border: 1px solid $dark-color;
        border-radius: 3px;
        transition: all 0.2s ease-in-out;

        &:focus {
          @include box-shadow(
            0,
            1px,
            15px,
            2px,
            $color: lighten($primary-color, 80%)
          );
          border-color: lighten($primary-color, 50%);
        }
      }
    }
    &:nth-child(2) {
      label {
        font-size: 1.6em;
      }
      input {
        height: 1.8em;
      }
    }
  }
}


