/* CSS for Sign up page */

.signup {
  @include size(100%);
  img {
    max-width: 30em;

    object-fit: cover;
  }
  @import "../components/registerForm";
}

@include media-breakpoint-down($breakpoint-xs) {
  .signup {
    @include size(100%);
    border: 1px solid $primary-color;
  }
  .registerForm {
    @include size(100%);
    border: 1px solid $danger-color;

    .form {
      width: 100%;
    }
  }
}
